BookReviewWebClient/Connected Services/ReviewService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BookReviewService/ReviewService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookReviewService.Models" />
  <xs:element name="SetReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BookReviewService.Models" minOccurs="0" name="review" nillable="true" type="q1:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BookReviewService.Models" minOccurs="0" name="SetReviewResult" nillable="true" type="q2:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyReviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BookReviewService.Models" minOccurs="0" name="GetMyReviewsResult" nillable="true" type="q3:ArrayOfReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reviewOn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentUser" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BookReviewService.Models" minOccurs="0" name="review" nillable="true" type="q4:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BookReviewService.Models" minOccurs="0" name="EditReviewResult" nillable="true" type="q5:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reviewOn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteReviewResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountBookReviewScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountBookReviewScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountBookReviewScoreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookReviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BookReviewService.Models" minOccurs="0" name="GetBookReviewsResult" nillable="true" type="q6:ArrayOfReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoesReviewExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reviewOn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoesReviewExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BookReviewService.Models" minOccurs="0" name="DoesReviewExistsResult" nillable="true" type="q7:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>