BookReviewWebClient/Connected Services/ReviewService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookReviewService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookReviewService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReviewBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewScale" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
</xs:schema>